<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="MqttServerAddress" value="34.140.140.8" />
    <add key="MqttServerPort" value="1883" />
  </appSettings>
</configuration>